.Cursor {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #000;
  font-family: var(--font-primary);
  font-size: 0.875rem;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

@media only screen and (max-width: 768px) {
  .Cursor {
    display: none;
  }
}

.CursorArrow {
  width: 2.312rem;
  height: 2.312rem;
  background-color: #fff;
}