.Box {
  position: absolute;
  top: -0.5rem;
  left: calc(100% + (1.5rem / 2));
  width: calc(50%);
  max-width: 30rem;
  padding-right: 1rem;
}

.Title {
  margin-top: 0;
  margin-right: 3.25rem;
  font-family: var(--font-secondary);
  font-size: 1.875rem;
  font-weight: 400;
}

.Description {
  font-family: var(--font-primary);
  font-size: 0.937rem;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
}

.TagContainer {
  width: 100%;
}

.TagContainer:nth-child(1), .TagContainer:nth-child(2) {
  width: 50%;
}

.TagContainer:nth-child(1) .Tag, .TagContainer:nth-child(2) .Tag {
  width: calc(100% - 1.25rem);
}

.Tag {
  position: relative;
  font-size: 0.937rem;
  display: block;
  width: calc(50% - 1.25rem);
  margin-left: auto;
  margin-right: 1.25rem;
  line-height: 1.5;
}

.Tag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 1.25rem;
  margin: 0.5rem 1rem 0 0;
  width: 1.562rem;
  height: 1.562rem;
  cursor: pointer;
}