@import '../style/breakpoints.scss';

.Box {
  position: relative;
  grid-column: 5 / span 5;
  width: 100%;
  padding-right: 1rem;

  &>*+* {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
  }

  @include breakpoint(small) {
    grid-template-areas: "title title title title title"
      "tags tags description description description"
      "specs specs  description description description";
    padding: 0;
  }
}

.Title {
  grid-column: 1 / span 2;
  margin-top: 0;
  font-family: var(--font-secondary);
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.166em;

  @include breakpoint(small) {
    grid-column: 1 / span 5;
    padding-right: 1.5rem;
    margin-top: 0.312rem;
    margin-bottom: 1.25rem;
  }
}

.Description {
  width: 50%;
  font-family: var(--font-primary);
  font-size: 0.812rem;
  line-height: 1.384em;

  & blockquote {
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 1.125rem;
    line-height: 1.333em;

    & p {
      margin-top: 0;
    }
  }

  @include breakpoint(small) {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.937rem;
    line-height: 1.333em;
  }
}

.Bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.TagsAndSpecs {
  width: 50%;

  @include breakpoint(small) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &>*+* {
      margin-left: 20px;
    }
  }
}

.Specs {
  margin-top: 50px;
  font-family: var(--font-primary);
  font-size: 0.812rem;
  line-height: 1.384em;

  & p:last-child {
    margin-bottom: 0
  }

  @include breakpoint(small) {
    grid-column: 3 / span 3;
    margin-top: 0;
    font-size: 0.937rem;
    line-height: 1.333em;

    & p {
      margin-top: 0;
    }
  }
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / span 2;
  align-self: baseline;

  @include breakpoint(small) {
    grid-column: 1 / span 2;
  }
}

.TagContainer {
  width: 100%;

  &:nth-child(2) {
    margin-top: 0.625rem;
  }
}

.Tag {
  position: relative;
  font-family: var(--font-primary);
  display: block;
  margin-right: 1.25rem;
  font-size: 0.812rem;
  line-height: 1.384em;
  text-transform: capitalize;

  @include breakpoint(small) {
    font-size: 0.937rem;
    line-height: 1.333em;
  }
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 1rem;
  margin: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  @include breakpoint(small) {
    top: 0.5rem;
    right: 0rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}