.Box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  grid-column: 5  / span 5;
  width: 100%;
  padding-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .Box {
    grid-template-areas: "title title title title title"
    "tags tags specs specs specs"
    "description description description description description";
    padding: 0;
  }
}

.Title {
  grid-column: 1 / span 2;
  margin-top: 0;
  font-family: var(--font-secondary);
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.166em;
}

@media only screen and (max-width: 768px) {
  .Title {
    grid-area: title;
    padding-right: 1.5rem;
    margin-top: 0.312rem;
    margin-bottom: 0;
  }
}

.Description {
  grid-column: 3 / span 3;
  font-family: var(--font-primary);
  font-size: 0.937rem;
}

@media only screen and (max-width: 768px) {
  .Description {
    grid-area: description;
    margin-top: 1rem;
  }
}

.Description blockquote {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 1.125rem;
}

.Description blockquote p {
  margin-top: 0;
}

.Specs {
  grid-column: 1 / span 2;
  align-self: end;
  font-family: var(--font-primary);
  font-size: 0.937rem;
  line-height: 1.2em;
}

@media only screen and (max-width: 768px) {
  .Specs {
    grid-area: specs;
  }
}

.Specs p:last-child {
  margin-bottom:0
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / span 2;
  align-self: baseline;
}

@media only screen and (max-width: 768px) {
  .Tags {
    grid-area: tags;
  }
}

.TagContainer {
  width: 100%;
}

.TagContainer:nth-child(2) {
  margin-top: 0.625rem;
}

.Tag {
  position: relative;
  font-family: var(--font-primary);
  font-size: 0.937rem;
  display: block;
  margin-right: 1.25rem;
  line-height: 1.2em;
  text-transform: capitalize;
}

.CloseButton {
  position: absolute;
  top: 0;
  right: 1rem;
  margin: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .CloseButton {
    top: 0.5rem;
    right: 0rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}