.Navigation {
  grid-column: 1 / span 5;
  margin-left: 1.25rem;
}

.List {
  display: flex;
  list-style: none;
  gap: 1.875rem;
  padding: 0;
}

.Item {
  margin-right: 0.25em;
  font-size: 1.875rem;
  font-family: var(--font-secondary);
  color: #000;
  text-decoration: none;
}