* {
  box-sizing: border-box;
}

:root {
  --font-primary: "Founders Grotesk", sans-serif;
  --font-secondary: "Signifier", serif;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/test-signifier-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/test-founders-grotesk-regular.woff") format("woff");
  font-weight: 400;
}

.App {
  position: relative;
  overflow-x: hidden;
}

.Header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  width: 100%;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.ProjectsList {
  /* width: 33.3333%; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 10rem;
  grid-column: 6 / span 4;
  padding: 0;
  margin: 10rem auto;
}

.ProjectsItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* width: 100%; */
  /* width: 65.69444444444444%; */
  width: 100%;
}

.ProjectsItemInner {
  position: relative;
  width: 100%;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.SubNavigation {
  z-index: 4;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: calc(100% / 3);
}

.SubNavigationLink {
  margin-right: 0.25em;
  font-size: 1.875rem;
  font-family: var(--font-secondary);
  color: #000;
  text-decoration: none;
}

.Main {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  column-gap: 20px;
  margin: 0 20px;
}