* {
  box-sizing: border-box;
}

:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: "Signifier", serif;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-thin-italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-extralight-italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-regular-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-bold-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/signifier-black-italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

/* @font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-regular-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-semibold-italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/founders-grotesk-bold-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
} */

.App {
  position: relative;
  overflow-x: hidden;
  font-family: var(--font-primary);
}

.Header {
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  width: 100%;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.ProjectsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 6 / span 9;
  padding: 0;
  margin: 0 auto 167px auto;
}

@media only screen and (max-width: 767px) {
  .ProjectsList > * + * {
    margin: 0 0 70px 0;
  } 
}

@media only screen and (max-width: 767px) {
  .HiddenProjectsList {
    display: none;
  }
} 

.ProjectsItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 167px;
}

.ProjectsItemInner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
}

.ProjectsItemInner > * + * {
  margin: 0 0 0 20px;
}

@media only screen and (max-width: 767px) {
  .ProjectsItem {
    margin-bottom: 70px;
  }

  .ProjectsItemInner {
    display: inline-block;
  }

  .ProjectsItemInner > * + * {
    margin: 0 0 20px 0;
  }
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.SubNavigation {
  z-index: 4;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: calc(100% / 3);
}

.SubNavigationLink {
  margin-right: 0.25em;
  font-size: 1.875rem;
  font-family: var(--font-secondary);
  color: #000;
  text-decoration: none;
}

.Main {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  margin: 0 20px;
  padding-top: 200px;
}

@media only screen and (max-width: 767px) {
  .Main {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }
}

.Main > * + * {
  margin: 0 20px 20px 0;
}

@media only screen and (max-width: 767px) {
  .Main > * + * {
    margin: 0;
  }
}