:root {
  --font-primary: "Founders Grotesk", sans-serif;
  --font-secondary: "Signifier", serif;
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
   url("./fonts/test-signifier-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Founders Grotesk";
  src: local("Founders Grotesk"),
   url("./fonts/test-founders-grotesk-regular.woff") format("woff");
  font-weight: 400;
}

.App {
  position: relative;
}

.ProjectsList {
  width: 33.3333%;
  margin: 0 auto;
  padding: 0;
}

.ProjectsItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}